# Core Data & ML Libraries
pandas>=2.2.0
numpy
scikit-learn
matplotlib
opencv-python

# Deep Learning
tensorflow==2.16.1

# Web App / UI
streamlit

# Optional: If you use Jupyter Notebooks locally
notebook
jupyterlab